
<h1>Index Page</h1>

<% @greetings.each do |greeting| %>
  <li>
    <%= greeting["greeting_name"] %> | <%= greeting["greeting_loudness"] %>
  </li>
<% end %>

<a href="/greetings/new"> Add New Greeting </a>
