<form action='/greetings' method='post'>
  <p>
    <label for='first_name_input'>What is your first name?</label>
    <input type='text' name='first_name' id='first_name_input' maxlength='15'>
  </p>

  <p>
    <label for='message_input'>Do you want to leave a message?</label>
    <textarea name='message' id='message_input'></textarea>
  </p>

  <p>
    <select name='state'>
      <option value='MA'>Massachusetts</option>
      <option value='RI'>Rhode Island</option>
    </select>
  </p>

  <ul>
    <li>
      <label>
        <input type='radio' name='res-status' value='resident'>
          Resident
      </label>
    </li>
    <li>
      <label>
        <input type='radio' name='res-status' value='nonresident'>
          Nonresident
      </label>
    </li>
  </ul>

<!-- This should be built out more fully so that params can hold multiple selections -- you'll learn how to do this later! -->
  Jr <input type='checkbox' name='suffix' value='Jr'>
  Sr <input type='checkbox' name='suffix' value='Sr'>
  Dr <input type='checkbox' name='suffix' value='Dr'>

  <input type='submit' value='Submit your form'>
</form>
