<h1>
  New Greetings Form
</h1>


<form action='/greetings' method='post'>
  <label>Greeting
    <input type="text" name="greeting_name">
  </label>
  
  <label>How Loud?
    <input type="text" name="greeting_loudness">
  </label>

  <input type="submit">
</form>
