<h1>
  New Greetings Form
</h1>


<form action='/greetings' method='post'>
    <label for="message_body"> Message Body
      <input type="text" id="message_body" name="message_body">
    </label>

    <label for="message_type"> Message Type
      <input type="text" id="message_type" name="message_type">
    </label>

    <br />
    <br />

    <input type='submit' value="Add New Greeting">
</form>
