<h1>Task Form</h1>

<form action='/tasks' method='post' class="form-border">
  <label for="task_name"> New Task
    <input type="text" name="task_name" id="task_name" required>
  </label>

  <input type="submit" value="Submit Task">
</form>
